Django>=5.2,<5.3
python-dotenv>=1.0,<2.0
dj-database-url>=2.2,<3.0
psycopg2-binary>=2.9,<3.0
openpyxl>=3.1,<4.0
pandas>=2.2,<3.0
Pillow>=10.0,<13.0
pytest>=8.0,<9.0
pytest-django>=4.8,<5.0

PyMuPDF>=1.24,<2.0
pdfplumber>=0.11,<1.0
pytesseract>=0.3,<1.0
pypdf>=4.0,<6.0
pdf2image>=1.17,<2.0
google-api-python-client>=2.0,<3.0
google-auth>=2.0,<3.0
google-auth-httplib2>=0.2,<1.0
